@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* .titulo 'usado para class {
font-size 76px
} */

/* #meutitulo 'usado para o ID {
font-size 76px
} */

/* h1 {
font-size 76px
} */

h1 {
    font-size: 76px;
    font-family: "Inter";
    font-weight: normal;
    margin-bottom: 16px;
}

.inpt {
    padding: 18px;
    /*espaço interno   contro+k+c */
    border: 1px solid #f0f0f0;
    /*retira a borda toda*/
    background-color: #F7F9FB;
    /*defini a cor*/
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 16px;
    width: 377px;
}

input:hover {
    background-color: #f0f0f0;
    /* Cor de fundo quando o mouse passar */
    border-color: #888;
    /* Cor da borda quando o mouse passar */
}

.but {
    border-radius: 10px;
    border: none;
    padding: 18px;
    cursor: pointer;
    width: 377px;
    background-color: black;
    color: white;
    font-size: 16px;

}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.logo{
    height: 60px;
}